html
    div
        h1 Welcome John :)
        h3 Please Enter the following details to enable the messaging service
    form(action="/details" method="POST")
        label Phone number (with country code, eg- +91xxxxxxxxxx)
        input(type="tel" minlength="11" maxlength="13" id="phone" name="phone" title="10 digit mobile number with country code" required)
        br
        label When do you sleep? 
        input(type="time" id="sleep" name="sleep" required)
        br
        label When do you wakeup? 
        input(type="time" id="wake" name="wake" required)
        br
        input(type="Submit" value="Submit")
        br