html
    div
        h1 Welcome John :)
        h3 Please Enter the following details to enable the messaging service
    form(action="/details" method="POST")
        label Phone number 
        input(type="tel" minlength="10" maxlength="10" id="phone" name="phone" title="10 digit mobile number" required)
        br
        label When do you sleep? 
        input(type="time" id="sleep" name="sleep" required)
        br
        label When do you wakeup? 
        input(type="time" id="wake" name="wake" required)
        br
        input(type="Submit" value="Submit")
        br